<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/themes/base/css")

    <script type="text/javascript">
        function customAlert(title, message, path) {
           // debugger;
            if (title) {
                title = "Success"
            } else {
                title = "Failed"
            }
            $('#dialog-message').dialog({
                modal: true,
                title: title,
                open: function () {
                    var markup = message;
                    $(this).html(markup);
                },
                buttons: {
                    Ok: function () {
                        if (path != '') {
                            window.location.href = path;
                        }
                        $(this).dialog("close");
                    }

                }
            });
        }
                                        // var accessList="";
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")


    @Styles.Render("~/Content/css")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <div id="dialog-message">

    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
